<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.hudson.loveweather">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>

    <application
        android:name=".global.LoveWeatherApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activity.WeatherActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".ui.activity.SplashActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service android:name=".service.DataInitializeService"/>
        <service android:name=".service.ScheduledTaskService"/>

        <activity
            android:name=".ui.activity.DailyWordActivity"
            android:theme="@style/DailyPageTheme">
        </activity>

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote">
        </service>

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="i9bIebcj1ugbfVyVGwe5bv1gzLtwBUG9">
        </meta-data>

        <activity android:name=".ui.activity.SettingsActivity">
        </activity>
        <activity android:name=".ui.activity.SearchActivity">
        </activity>
        <activity
            android:name=".ui.activity.CountryManagerActivity"
            android:launchMode="singleTop"
            android:theme="@style/transition_activity_theme">
        </activity>

        <service android:name=".service.WidgetUpdateService"/>

        <activity android:name=".ui.activity.AddCustomPicBgActivity">
        </activity>

        <!-- android 7.0 不能使用本地真实路径 -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.hudson.loveweather.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

        <activity android:name=".ui.activity.CustomPicBgListActivity">
        </activity>
        <activity android:name=".ui.activity.AboutActivity">
        </activity>

        <receiver
            android:name=".ui.widget.WidgetDefaultProvider"
            android:label="简便工具">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/default_widget_config"/>
        </receiver>
        <receiver
            android:name=".ui.widget.WidgetCircleProvider"
            android:label="简单圆形">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/circle_widget_config"/>
        </receiver>

    </application>

</manifest>